Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

fix(db): add proper types to removal_attempts module
  crates/spectral-db/src/removal_attempts.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): implement submit_removals_for_confirmed command
  src-tauri/src/commands/scan.rs
  src-tauri/tests/scan_commands_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): implement get_findings and verify_finding commands
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add Phase 5 removal form submission design
  docs/plans/2026-02-15-phase5-removal-submission-design.md
Due: none

docs: add Phase 5 implementation plan
  docs/plans/2026-02-15-phase5-removal-submission-implementation.md
Due: none

feat(db): add CAPTCHA and failed queue queries
  crates/spectral-db/src/removal_attempts.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(worker): add field mapping for removal submission
  src-tauri/src/lib.rs
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(worker): add retry logic with exponential backoff
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(worker): implement core removal submission worker
  crates/spectral-db/src/findings.rs
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): add process_removal_batch command for parallel processing
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(tauri): add get_captcha_queue and get_failed_queue commands
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): add retry_removal command to reprocess failed attempts
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(integration): add batch processing integration tests
  src-tauri/src/commands/scan.rs
  src-tauri/tests/removal_batch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: update Phase 5 documentation
  docs/api/removal-commands.md
  docs/plans/2026-02-15-phase5-removal-submission-design.md
Due: none

docs: add Phase 5 frontend design document
  docs/plans/2026-02-16-phase5-frontend-design.md
Due: none

docs: add Phase 5 frontend implementation plan
  docs/plans/2026-02-16-phase5-frontend-implementation.md
Due: none

feat(db): add query for removal attempts by scan job ID
  crates/spectral-db/src/removal_attempts.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(frontend): add removal API command wrappers
  src/lib/api/index.ts
  src/lib/api/removal.ts
Due: none

feat(frontend): add CAPTCHA queue tab component
  package-lock.json
  package.json
  src/lib/components/removals/CaptchaQueueTab.svelte
Due: none

feat(frontend): add failed queue tab component
  src/lib/components/removals/FailedQueueTab.svelte
Due: none

feat(frontend): add overview tab component
  src/lib/components/removals/OverviewTab.svelte
Due: none

feat(frontend): add removal store with Svelte 5 state management
  src/lib/stores/index.ts
  src/lib/stores/removal.svelte.ts
Due: none

feat(frontend): add progress dashboard page
  src/routes/removals/progress/[jobId]/+page.svelte
Due: none

feat(frontend): integrate progress dashboard with scan review
  src/lib/stores/scan.svelte.ts
  src/routes/scan/review/[id]/+page.svelte
Due: none

feat(frontend): convert removals stub to redirect
  src/routes/removals/+page.svelte
Due: none

fix(frontend): use project spinner convention in removals redirect
  src/routes/removals/+page.svelte
Due: none

fix(frontend): disable prerender for dynamic removals progress route
  src/routes/removals/progress/[jobId]/+page.ts
Due: none

fix(frontend): address code review issues from final review
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/lib/components/removals/FailedQueueTab.svelte
  src/lib/stores/removal.svelte.ts
  src/routes/removals/progress/[jobId]/+page.svelte
  src/routes/scan/review/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(frontend): use RegExp.exec() instead of String.match() in extractCaptchaUrl
  src/lib/stores/removal.svelte.ts
Due: none

docs: add Phase 6 design document
  docs/plans/2026-02-17-phase6-design.md
Due: none

docs: add Phase 6 implementation plan
  docs/plans/2026-02-17-phase6-implementation.md
Due: none

docs: expand Phase 6 design to include all outpaced features
  docs/plans/2026-02-17-phase6-design.md
Due: none

feat: Phase 5 — Removal Form Submission + Progress Dashboard (#6)
  Cargo.toml
  crates/spectral-db/src/findings.rs
  crates/spectral-db/src/removal_attempts.rs
  docs/api/removal-commands.md
  docs/plans/2026-02-15-phase5-removal-submission-design.md
  docs/plans/2026-02-15-phase5-removal-submission-implementation.md
  docs/plans/2026-02-16-phase5-frontend-design.md
  docs/plans/2026-02-16-phase5-frontend-implementation.md
  docs/plans/2026-02-17-phase6-design.md
  docs/plans/2026-02-17-phase6-implementation.md
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src-tauri/src/removal_worker.rs
  src-tauri/tests/removal_batch_test.rs
  src/lib/api/index.ts
  src/lib/api/removal.ts
  src/lib/components/removals/CaptchaQueueTab.svelte
  src/lib/components/removals/FailedQueueTab.svelte
  src/lib/components/removals/OverviewTab.svelte
  src/lib/stores/index.ts
  src/lib/stores/removal.svelte.ts
  src/lib/stores/scan.svelte.ts
  src/routes/removals/+page.svelte
  src/routes/removals/progress/[jobId]/+page.svelte
  src/routes/removals/progress/[jobId]/+page.ts
  src/routes/scan/review/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

docs: add Phase 6 implementation plan (25 tasks)
  docs/plans/2026-02-17-phase6-implementation.md
Due: none

feat(stores): add profile reset() and coordinate store reset on vault switch
  src/lib/stores/profile.svelte.ts
  src/lib/stores/vault.svelte.ts
Due: none

fix(stores): remove circular dependency by eliminating vaultStore import from profile store
  src/lib/components/profile/ProfileWizard.svelte
  src/lib/stores/profile.svelte.ts
  src/lib/stores/vault.svelte.ts
  src/routes/+page.svelte
  src/routes/profile/setup/+page.ts
  src/routes/scan/start/+page.svelte
Due: none

feat(nav): add navigation bar with vault switcher
  src/lib/components/nav/NavBar.svelte
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/+layout.svelte
Due: none

fix(nav): fix accessibility attributes and async on VaultSwitcher
  src/lib/components/nav/VaultSwitcher.svelte
Due: none

feat(vault): add rename, change-password, and delete vault commands
  src-tauri/src/commands/vault.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test
