Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test --all --no-fail-fast
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-deny:
  name: cargo deny
  description: Check dependencies for vulnerabilities and license issues
  entry: cargo deny check bans licenses sources
  language: system
  pass_filenames: false

validate-broker-definitions:
  name: validate broker definitions
  description: Validate broker definition TOML files
  entry: python scripts/validate-broker-toml.py
  language: system
  pass_filenames: true

feat: Add possible matches feature for zero-result brokers (#10)
  crates/spectral-db/Cargo.toml
  crates/spectral-db/src/broker_scans.rs
  crates/spectral-db/src/findings.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/matching.rs
  scripts/split-architecture.py
  scripts/validate-broker-toml.py
  sonar-project.properties
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src-tauri/src/matching_service.rs
  src/lib/api/scan.ts
  src/routes/scan/review/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat: add password visibility toggle and confirmation field for vault creation
  src/routes/people/+page.svelte
Due: none

fix: ensure privacy score consistency between dashboard and score page
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: replace incomplete audit log placeholder with professional UI
  src/routes/settings/+page.svelte
Due: none

feat(audit): implement Privacy Audit Log feature
  crates/spectral-db/src/audit_log.rs
  crates/spectral-db/src/lib.rs
  src-tauri/src/commands/audit.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/commands/vault.rs
  src-tauri/src/lib.rs
  src/lib/api/audit.ts
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(settings): add email setup instructions for popular providers
  src/routes/settings/+page.svelte
Due: none

feat(settings): clarify IMAP monitoring includes marketing email scanning
  src/routes/settings/+page.svelte
Due: none

refactor(settings): extract email provider accordion into reusable components
  src/lib/components/EmailProviderAccordion.svelte
  src/lib/components/EmailSettings.svelte
  src/routes/settings/+page.svelte
Due: none

feat(scan): add Google Search removal request assistance
  crates/spectral-db/Cargo.toml
  crates/spectral-db/migrations/011_google_removal_requests.sql
  crates/spectral-db/src/google_removal.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/scan.ts
  src/routes/scan/review/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat: Google Search removal assistance, privacy audit log, email setup guide, and code quality improvements (#11)
  crates/spectral-db/Cargo.toml
  crates/spectral-db/migrations/013_google_removal_requests.sql
  crates/spectral-db/src/audit_log.rs
  crates/spectral-db/src/google_removal.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  src-tauri/src/commands/audit.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/commands/vault.rs
  src-tauri/src/lib.rs
  src/lib/api/audit.ts
  src/lib/api/scan.ts
  src/lib/components/EmailProviderAccordion.svelte
  src/lib/components/EmailSettings.svelte
  src/routes/people/+page.svelte
  src/routes/scan/review/[id]/+page.svelte
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(discovery): add visual feedback when marking findings as remediated
  src/routes/discovery/+page.svelte
Due: none

feat(brokers): add 20 new broker definitions across 6 new categories
  broker-definitions/automotive/carfax.toml
  broker-definitions/employment/the-work-number.toml
  broker-definitions/financial/chexsystems.toml
  broker-definitions/financial/innovis.toml
  broker-definitions/location-data/foursquare.toml
  broker-definitions/location-data/safegraph.toml
  broker-definitions/marketing/amazon-advertising.toml
  broker-definitions/marketing/microsoft-advertising.toml
  broker-definitions/marketing/the-trade-desk.toml
  broker-definitions/marketing/zoominfo.toml
  broker-definitions/people-search/411.toml
  broker-definitions/people-search/checkpeople.toml
  broker-definitions/people-search/peoplelooker.toml
  broker-definitions/property-records/zillow.toml
  broker-definitions/social-media/linkedin.toml
  broker-definitions/social-media/pinterest.toml
  broker-definitions/social-media/reddit.toml
  broker-definitions/social-media/snapchat.toml
  broker-definitions/social-media/tiktok.toml
  broker-definitions/social-media/twitter.toml
  scripts/validate-broker-toml.py
Due: validate-broker-definitions

feat(brokers): add 24 new data broker and ad tech definitions
  broker-definitions/automotive/autocheck.toml
  broker-definitions/automotive/dmv-org.toml
  broker-definitions/employment/truework.toml
  broker-definitions/employment/verified-credentials.toml
  broker-definitions/financial/clarity-services.toml
  broker-definitions/financial/nctue.toml
  broker-definitions/location-data/gravy-analytics.toml
  broker-definitions/location-data/near-intelligence.toml
  broker-definitions/location-data/placeiq.toml
  broker-definitions/marketing/adobe-audience-manager.toml
  broker-definitions/marketing/appnexus.toml
  broker-definitions/marketing/bombora.toml
  broker-definitions/marketing/clearbit.toml
  broker-definitions/marketing/hubspot.toml
  broker-definitions/marketing/linkedin-ads.toml
  broker-definitions/marketing/mailchimp.toml
  broker-definitions/marketing/marketo.toml
  broker-definitions/marketing/mediamath.toml
  broker-definitions/marketing/outbrain.toml
  broker-definitions/marketing/quantcast.toml
  broker-definitions/marketing/reddit-ads.toml
  broker-definitions/marketing/salesforce-marketing.toml
  broker-definitions/marketing/snapchat-ads.toml
  broker-definitions/marketing/taboola.toml
  broker-definitions/marketing/tiktok-ads.toml
  broker-definitions/marketing/twitter-ads.toml
  broker-definitions/marketing/yahoo-advertising.toml
  broker-definitions/people-search/instantpeoplefinder.toml
  broker-definitions/people-search/peoplesmart.toml
  broker-definitions/people-search/peoplewhiz.toml
  broker-definitions/people-search/privaterecords.toml
  broker-definitions/people-search/searchbug.toml
  broker-definitions/property-records/costar.toml
  broker-definitions/property-records/propertyshark.toml
  broker-definitions/property-records/realtor.toml
  broker-definitions/property-records/redfin.toml
Due: validate-broker-definitions

feat(cookies): implement cookie scanner foundation
  crates/spectral-cookies/Cargo.toml
  crates/spectral-cookies/src/browser.rs
  crates/spectral-cookies/src/error.rs
  crates/spectral-cookies/src/lib.rs
  crates/spectral-cookies/src/matcher.rs
  crates/spectral-cookies/src/remover.rs
  crates/spectral-cookies/src/scanner.rs
  crates/spectral-db/migrations/014_cookie_tracking.sql
  crates/spectral-db/src/cookies.rs
  crates/spectral-db/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(cookies): integrate cookie scanner with Tauri backend and frontend UI
  crates/spectral-cookies/src/lib.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/cookies.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/lib/api/cookies.ts
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(maps): add map address blurring feature for Google Maps, Apple Maps, and Bing Maps
  crates/spectral-db/migrations/015_map_blur_requests.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/map_blur.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/map_blur.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/geocoding.rs
  src-tauri/src/lib.rs
  src/lib/api/map_blur.ts
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

refactor: reduce cognitive complexity in 4 critical functions
  .gitignore
  crates/spectral-cookies/src/matcher.rs
  crates/spectral-scanner/src/orchestrator.rs
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(db): update migration tests for schema version 15 and new tables
  crates/spectral-db/src/migrations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

security: disable autocomplete on all password fields
  src/lib/components/UnlockScreen.svelte
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/people/+page.svelte
  src/routes/settings/+page.svelte
Due: none

feat: move map address blurring to main navigation and fix profile address check
  src/lib/components/nav/NavBar.svelte
  src/routes/maps/+page.svelte
  src/routes/settings/+page.svelte
Due: none

feat(navigation): add Scan hub and Scan History pages with navigation restructure
  crates/spectral-db/src/scan_jobs.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/scan.ts
  src/lib/components/nav/NavBar.svelte
  src/routes/scan-history/+page.svelte
  src/routes/scan/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(scan-history): display 'Data Broker Scan' instead of scan ID
  src/routes/scan-history/+page.svelte
Due: none

feat(scan-history): add unified scan history showing all scan types
  crates/spectral-db/src/scan_jobs.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/scan.ts
  src/routes/scan-history/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Add Scan hub, Scan History, and navigation improvements (#13)
  crates/spectral-db/src/scan_jobs.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/scan.ts
  src/lib/components/UnlockScreen.svelte
  src/lib/components/nav/NavBar.svelte
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/maps/+page.svelte
  src/routes/people/+page.svelte
  src/routes/scan-history/+page.svelte
  src/routes/scan/+page.svelte
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix: load full profiles in maps and scan pages to access address fields
  src/routes/maps/+page.svelte
  src/routes/scan/+page.svelte
Due: none

feat(adtech): add dedicated navigation pages for advertising technology companies
  src/lib/components/nav/NavBar.svelte
  src/routes/adtech/+page.svelte
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

fix: resolve profile loading race condition in scan and maps pages
  src/routes/maps/+page.svelte
  src/routes/scan/+page.svelte
Due: none

fix: add console logging to cookie scan for debugging
  src/routes/scan/+page.svelte
Due: none

fix: resolve cookie scanner broker-definitions path issue
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: remove invalid foreign key constraints from cookie tables
  crates/spectral-db/migrations/016_fix_cookie_foreign_keys.sql
Due: none

fix: revert migration 014 and improve migration 016 for foreign key fix
  crates/spectral-db/migrations/014_cookie_tracking.sql
  crates/spectral-db/migrations/016_fix_cookie_foreign_keys.sql
Due: none

fix: add comprehensive logging to browser detection
  crates/spectral-cookies/src/browser.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add comprehensive browser detection diagnostics
  src-tauri/Cargo.toml
  src-tauri/src/commands/cookies.rs
  src-tauri/src/lib.rs
  src/routes/scan/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix: update browser detection for Chrome 96+ cookie location
  crates/spectral-cookies/src/browser.rs
  src/routes/scan/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat: create dedicated cookies results page
  src/lib/components/nav/NavBar.svelte
  src/routes/cookies/+page.svelte
  src/routes/scan/+page.svelte
Due: none

feat: fix and expand AdTech broker definitions
  broker-definitions/marketing/6sense.toml
  broker-definitions/marketing/adobe-audience-manager.toml
  broker-definitions/marketing/amazon-advertising.toml
  broker-definitions/marketing/apollo-io.toml
  broker-definitions/marketing/appnexus.toml
  broker-definitions/marketing/bombora.toml
  broker-definitions/marketing/criteo.toml
  broker-definitions/marketing/demandbase.toml
  broker-definitions/marketing/doubleclick.toml
  broker-definitions/marketing/google-ads.toml
  broker-definitions/marketing/linkedin-ads.toml
  broker-definitions/marketing/mediamath.toml
  broker-definitions/marketing/meta-ads.toml
  broker-definitions/marketing/microsoft-advertising.toml
  broker-definitions/marketing/oracle-bluekai.toml
  broker-definitions/marketing/outbrain.toml
  broker-definitions/marketing/quantcast.toml
  broker-definitions/marketing/reddit-ads.toml
  broker-definitions/marketing/segment.toml
  broker-definitions/marketing/snapchat-ads.toml
  broker-definitions/marketing/taboola.toml
  broker-definitions/marketing/the-trade-desk.toml
  broker-definitions/marketing/tiktok-ads.toml
  broker-definitions/marketing/twitter-ads.toml
  broker-definitions/marketing/yahoo-advertising.toml
  broker-definitions/marketing/zoominfo.toml
  scripts/validate-broker-toml.py
Due: validate-broker-definitions

feat(cookies): show unmatched cookies and improve browser detection
  broker-definitions/marketing/amplitude.toml
  broker-definitions/marketing/attentive.toml
  broker-definitions/marketing/braze.toml
  broker-definitions/marketing/customer-io.toml
  broker-definitions/marketing/drift.toml
  broker-definitions/marketing/fullstory.toml
  broker-definitions/marketing/google-ad-manager.toml
  broker-definitions/marketing/google-tag-manager.toml
  broker-definitions/marketing/heap.toml
  broker-definitions/marketing/hotjar.toml
  broker-definitions/marketing/hunter-io.toml
  broker-definitions/marketing/index-exchange.toml
  broker-definitions/marketing/intercom.toml
  broker-definitions/marketing/iterable.toml
  broker-definitions/marketing/klaviyo.toml
  broker-definitions/marketing/launchdarkly.toml
  broker-definitions/marketing/logrocket.toml
  broker-definitions/marketing/lusha.toml
  broker-definitions/marketing/mixpanel.toml
  broker-definitions/marketing/mparticle.toml
  broker-definitions/marketing/openx.toml
  broker-definitions/marketing/optimizely.toml
  broker-definitions/marketing/posthog.toml
  broker-definitions/marketing/pubmatic.toml
  broker-definitions/marketing/rocketreach.toml
  broker-definitions/marketing/rudderstack.toml
  broker-definitions/marketing/seamless-ai.toml
  broker-definitions/marketing/tealium.toml
  broker-definitions/marketing/vwo.toml
  broker-definitions/marketing/zendesk.toml
  crates/spectral-cookies/src/browser.rs
  crates/spectral-db/src/cookies.rs
  src-tauri/src/commands/cookies.rs
  src-tauri/src/lib.rs
  src/lib/api/cookies.ts
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

feat(brokers): update verified privacy emails and add email preview
  broker-definitions/data-aggregator/acxiom.toml
  broker-definitions/data-aggregator/epsilon.toml
  broker-definitions/marketing/liveramp.toml
  broker-definitions/marketing/mailchimp.toml
  broker-definitions/marketing/marketo.toml
  broker-definitions/marketing/segment.toml
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/instantcheckmate.toml
  broker-definitions/people-search/intelius.toml
  broker-definitions/people-search/mylife.toml
  broker-definitions/people-search/radaris.toml
  broker-definitions/people-search/spokeo.toml
  broker-definitions/people-search/whitepages.toml
  docs/broker-email-verification.md
  src-tauri/src/commands/brokers.rs
  src/lib/api/brokers.ts
  src/lib/utils/email-template.ts
  src/routes/adtech/[adtechId]/+page.svelte
  src/routes/brokers/[brokerId]/+page.svelte
  src/routes/cookies/+page.svelte
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$
