Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

fix: improve tauri detection and add inline style fallback for button visibility
  src-tauri/tauri.conf.json
  src/lib/components/UnlockScreen.svelte
Due: none

fix: improve Tauri detection and remove blocking check in API wrapper
  src-tauri/tauri.conf.json
  src/lib/api/vault.ts
Due: none

fix: add inline styles to all buttons and status badge for visibility
  src/lib/components/UnlockScreen.svelte
  src/routes/+page.svelte
Due: none

docs: add Profile Setup UI design document
  docs/plans/2026-02-10-profile-setup-design.md
Due: none

chore: ignore .worktrees directory for git worktrees
  .gitignore
Due: none

feat(types): add profile input/output types with validation
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/types/mod.rs
  src-tauri/src/types/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(types): resolve regex performance and age calculation bugs
  src-tauri/Cargo.toml
  src-tauri/src/types/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(commands): add profile CRUD Tauri commands
  crates/spectral-vault/src/lib.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/profile.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(commands): handle address_line2 and propagate decryption errors
  src-tauri/src/commands/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(api): add TypeScript wrappers for profile commands
  src/lib/api/index.ts
  src/lib/api/profile.ts
Due: none

feat(stores): add profile store with Svelte 5 runes
  src/lib/stores/index.ts
  src/lib/stores/profile.svelte.ts
Due: none

feat(components): add shared form components for profile wizard
  src/lib/components/profile/shared/DisabledFieldNotice.svelte
  src/lib/components/profile/shared/FormField.svelte
  src/lib/components/profile/shared/StateSelect.svelte
  src/lib/components/profile/shared/index.ts
Due: none

feat(components): add BasicInfo step for profile wizard
  src/lib/components/profile/BasicInfoStep.svelte
Due: none

feat(components): add ContactInfo step for profile wizard
  src/lib/components/profile/ContactInfoStep.svelte
Due: none

feat(components): add AddressInfo step for profile wizard
  src/lib/components/profile/AddressInfoStep.svelte
Due: none

feat(components): add Review step for profile wizard
  src/lib/components/profile/ReviewStep.svelte
Due: none

feat(components): add ProfileWizard container component
  src/lib/components/profile/ProfileWizard.svelte
Due: none

feat(routes): add profile setup route with auto-redirect
  src/routes/profile/setup/+page.svelte
  src/routes/profile/setup/+page.ts
Due: none

feat(dashboard): integrate profile display and auto-redirect
  src/routes/+page.svelte
Due: none

test: complete integration testing for profile setup UI
  docs/test-results/profile-setup-ui-integration.md
Due: none

chore: add SonarQube and Dependency Track integration
  .gitignore
  docs/dependency-track-config.md
  sonar-project.properties
Due: none

refactor(broker): reduce cognitive complexity in RemovalMethod validation
  crates/spectral-broker/src/definition.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add Profile Setup UI implementation plan
  docs/plans/2026-02-10-profile-setup-implementation.md
Due: none

docs: add Profile Setup UI Phase 2 design document
  docs/plans/2026-02-11-profile-setup-phase2-design.md
Due: none

feat(vault): add Phase 2 profile types (PhoneNumber, PreviousAddress, Relative)
  crates/spectral-vault/src/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(vault): add Phase 2 fields to UserProfile schema
  crates/spectral-vault/src/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(vault): implement profile completeness scoring system
  crates/spectral-vault/src/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): add get_profile_completeness command
  crates/spectral-vault/src/lib.rs
  src-tauri/src/commands/profile.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(frontend): add Phase 2 TypeScript types and completeness API
  src/lib/api/profile.ts
Due: none

feat(ui): add CompletenessIndicator component with tier-based styling
  src/lib/components/profile/shared/CompletenessIndicator.svelte
Due: none

feat(ui): add PreviousAddressModal for complex address input
  src/lib/components/profile/shared/PreviousAddressModal.svelte
Due: none

feat(ui): add RelativeModal for family member input
  src/lib/components/profile/shared/RelativeModal.svelte
Due: none

feat(ui): implement Phase 2 wizard steps (Tasks 9-13)
  docs/plans/2026-02-11-profile-setup-phase2-implementation.md
  src/lib/api/profile.ts
  src/lib/components/profile/AdditionalInfoStep.svelte
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ContactInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
  src/lib/components/profile/ReviewStep.svelte
Due: none

test: document Phase 2 integration test results
  docs/test-results/profile-setup-phase2-integration.md
Due: none

feat(browser): create spectral-browser crate structure
  crates/spectral-browser/Cargo.toml
  crates/spectral-browser/src/actions.rs
  crates/spectral-browser/src/engine.rs
  crates/spectral-browser/src/error.rs
  crates/spectral-browser/src/fingerprint.rs
  crates/spectral-browser/src/lib.rs
  deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(browser): add error types
  crates/spectral-browser/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(browser): add fingerprint randomization
  crates/spectral-browser/src/fingerprint.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(browser): implement browser engine with rate limiting
  crates/spectral-browser/Cargo.toml
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(browser): implement browser actions
  crates/spectral-browser/Cargo.toml
  crates/spectral-browser/src/actions.rs
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

test(browser): add integration tests and documentation
  crates/spectral-browser/README.md
  crates/spectral-browser/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test
