Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test --all --no-fail-fast
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-deny:
  name: cargo deny
  description: Check dependencies for vulnerabilities and license issues
  entry: cargo deny check bans licenses sources
  language: system
  pass_filenames: false

validate-broker-definitions:
  name: validate broker definitions
  description: Validate broker definition TOML files
  entry: python scripts/validate-broker-toml.py
  language: system
  pass_filenames: true

docs: add comprehensive phased development plan
  docs/DEVELOPMENT_PLAN.md
Due: none

feat(core): add spectral-core crate with shared types, errors, and config
  Cargo.toml
  crates/spectral-core/Cargo.toml
  crates/spectral-core/src/capabilities.rs
  crates/spectral-core/src/config.rs
  crates/spectral-core/src/error.rs
  crates/spectral-core/src/lib.rs
  crates/spectral-core/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat: add Phase 1 parallel crates (db, broker, llm, permissions)
  broker-definitions/README.md
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/fastpeoplesearch.toml
  broker-definitions/people-search/spokeo.toml
  broker-definitions/people-search/truepeoplesearch.toml
  broker-definitions/people-search/whitepages.toml
  crates/spectral-broker/Cargo.toml
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/error.rs
  crates/spectral-broker/src/lib.rs
  crates/spectral-broker/src/loader.rs
  crates/spectral-broker/src/registry.rs
  crates/spectral-db/Cargo.toml
  crates/spectral-db/migrations/001_initial.sql
  crates/spectral-db/src/connection.rs
  crates/spectral-db/src/error.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-llm/Cargo.toml
  crates/spectral-llm/src/error.rs
  crates/spectral-llm/src/lib.rs
  crates/spectral-llm/src/pii_filter.rs
  crates/spectral-llm/src/provider.rs
  crates/spectral-llm/src/providers/anthropic.rs
  crates/spectral-llm/src/providers/mod.rs
  crates/spectral-llm/src/providers/ollama.rs
  crates/spectral-llm/src/router.rs
  crates/spectral-permissions/Cargo.toml
  crates/spectral-permissions/src/audit.rs
  crates/spectral-permissions/src/lib.rs
  crates/spectral-permissions/src/manager.rs
  crates/spectral-permissions/src/presets.rs
  crates/spectral-permissions/src/prompts.rs
  deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

docs: add multi-vault architecture patterns
  patterns.md
Due: none

docs: add vault commands design (Task 1.4)
  docs/plans/2024-02-10-vault-commands-design.md
Due: none

docs: add vault commands implementation plan (Task 1.4)
  docs/plans/2024-02-10-vault-commands-implementation.md
Due: none

feat(tauri): add CommandError type with VaultError conversion
  crates/spectral-vault/Cargo.toml
  crates/spectral-vault/src/cipher.rs
  crates/spectral-vault/src/error.rs
  crates/spectral-vault/src/kdf.rs
  crates/spectral-vault/src/lib.rs
  crates/spectral-vault/src/profile.rs
  src-tauri/Cargo.toml
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(tauri): add AppState with multi-vault support
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(tauri): add path traversal validation to vault_id
  src-tauri/src/state.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): add VaultMetadata schema
  crates/spectral-vault/src/cipher.rs
  crates/spectral-vault/src/lib.rs
  crates/spectral-vault/src/profile.rs
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/metadata.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(tauri): add commands module structure
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/vault.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): implement vault_create command
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tauri): improve vault_create error handling and async I/O
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): implement vault_unlock command
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(app): implement vault_lock command (Task 7)
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(app): implement vault_status command (Task 8)
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(app): implement list_vaults command (Task 9)
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): register vault commands and AppState
  src-tauri/src/commands/vault.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(tauri): add full vault lifecycle integration test
  crates/spectral-db/src/connection.rs
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/tests/vault_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

test(tauri): add multiple vaults integration test (Task 12)
  src-tauri/tests/vault_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(tauri): add error handling integration tests (Task 13)
  src-tauri/tests/vault_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tauri): address clippy warnings
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add unlock screen UI implementation plan (Task 1.5)
  docs/plans/2026-02-10-unlock-screen-ui.md
Due: none

feat(ui): add vault API wrapper
  src/lib/api/index.ts
  src/lib/api/vault.ts
Due: none

fix(ui): correct vault API interfaces to match backend
  src/lib/api/vault.ts
Due: none

feat(ui): add vault state management store with Svelte 5 runes
  eslint.config.js
  src/lib/stores/index.ts
  src/lib/stores/vault.svelte.ts
Due: none

fix(ui): ensure Set reactivity and clear errors on vault switch
  src/lib/stores/vault.svelte.ts
Due: none

feat(ui): add unlock screen component
  src/lib/components/UnlockScreen.svelte
  src/lib/components/index.ts
Due: none

fix(ui): improve unlock screen accessibility and UX
  src/lib/components/UnlockScreen.svelte
Due: none

fix(ui): add date validation for last accessed timestamp
  src/lib/components/UnlockScreen.svelte
Due: none

feat(ui): integrate unlock screen into main route
  src/routes/+page.svelte
Due: none

fix(ui): export vaultStore and add lock button for testing
  src/routes/+page.svelte
Due: none

chore: change dev server port to 5175
  vite.config.ts
Due: none

chore: add debug logging to diagnose blank screen
  src/routes/+page.svelte
Due: none

fix: update CSP to allow SvelteKit inline scripts
  src/app.html
  src/routes/+page.svelte
Due: none

fix: update Tauri config for port 5175 and CSP inline scripts
  src-tauri/tauri.conf.json
Due: none

feat(ui): add create vault form to unlock screen
  src/lib/components/UnlockScreen.svelte
  src/lib/stores/vault.svelte.ts
Due: none

fix(api): add Tauri availability check for browser compatibility
  src/lib/api/vault.ts
Due: none

feat(ui): add browser mode warning to unlock screen
  src/lib/components/UnlockScreen.svelte
Due: none

feat: add intelligent port selection for dev server
  package.json
  scripts/dev.sh
  vite.config.ts
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$
