Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test --all --no-fail-fast
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-deny:
  name: cargo deny
  description: Check dependencies for vulnerabilities and license issues
  entry: cargo deny check bans licenses sources
  language: system
  pass_filenames: false

validate-broker-definitions:
  name: validate broker definitions
  description: Validate broker definition TOML files
  entry: python scripts/validate-broker-toml.py
  language: system
  pass_filenames: true

feat(profile): auto-redirect to People page after successful update
  src/lib/components/profile/ProfileWizard.svelte
Due: none

fix(ui): properly extract error messages from Tauri error objects
  src/routes/people/+page.svelte
Due: none

fix(broker-defs): remove invalid 'mail' removal method
  broker-definitions/automotive/autocheck.toml
  broker-definitions/automotive/carfax.toml
  broker-definitions/financial/chexsystems.toml
  scripts/validate-broker-toml.py
Due: validate-broker-definitions

fix(tests): update migration count and suppress prerender warnings
  crates/spectral-db/src/migrations.rs
  svelte.config.js
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tests): update migration count in lib.rs test
  crates/spectral-db/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(broker-defs): remove invalid 'mail' removal method (#16)
  broker-definitions/automotive/autocheck.toml
  broker-definitions/automotive/carfax.toml
  broker-definitions/financial/chexsystems.toml
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  scripts/validate-broker-toml.py
  svelte.config.js
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

docs(plan): add PII scanner rewrite implementation plan
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  docs/superpowers/plans/files/discovery_commands.rs
  docs/superpowers/plans/files/discovery_page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add scan_sessions and scan_logs tables
  crates/spectral-db/migrations/021_scan_sessions.sql
Due: none

feat(db): add scan_logs module
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/scan_logs.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add types module
  crates/spectral-discovery/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add pattern matching engine
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add thread-pool scanner engine
  crates/spectral-discovery/Cargo.toml
  crates/spectral-discovery/src/filesystem.rs
  crates/spectral-discovery/src/lib.rs
  crates/spectral-discovery/src/patterns.rs
  crates/spectral-discovery/src/scanner.rs
  crates/spectral-discovery/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

refactor(discovery): integrate thread-pool scanner with Tauri commands
  crates/spectral-db/src/discovery_findings.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  src-tauri/Cargo.toml
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

docs(plan): mark Phase 3 complete - Tauri integration verified
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
Due: none

feat(discovery): update API types and add PII explainer component
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  src/lib/api/discovery.ts
  src/lib/components/discovery/PiiExplainer.svelte
  src/routes/discovery/+page.svelte
  src/routes/scan/+page.svelte
Due: none

feat(discovery): add scan config component
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  src/lib/components/discovery/ScanConfig.svelte
Due: none

feat(discovery): add finding card component
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  src/lib/components/discovery/FindingCard.svelte
Due: none

feat(discovery): add findings filter component and complete Phase 4
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  src/lib/components/discovery/FindingsFilter.svelte
Due: none

feat(discovery): rewrite main page with new components
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
  src/routes/discovery/+page.svelte
Due: none

docs(plan): mark PII scanner rewrite complete
  docs/superpowers/plans/2026-03-13-pii-scanner-rewrite.md
Due: none

refactor(vault): replace 'any' type with proper type assertion
  .gitignore
  src/lib/api/vault.ts
Due: none

docs: add comprehensive code quality analysis report
  CODE_QUALITY_REPORT.md
Due: none

docs: remove code quality report file
  CODE_QUALITY_REPORT.md
Due: none

security(vault): implement zeroize for password handling
  crates/spectral-db/src/google_removal.rs
  crates/spectral-vault/src/kdf.rs
  crates/spectral-vault/src/lib.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
  src-tauri/src/commands/vault.rs
  src-tauri/tests/findings_workflow_test.rs
  src-tauri/tests/removal_batch_test.rs
  src-tauri/tests/scan_commands_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(cookies): track and display removed cookie counts in scan history
  crates/spectral-db/src/cookies.rs
  src-tauri/src/commands/cookies.rs
  src/lib/api/cookies.ts
  src/lib/components/discovery/ScanConfig.svelte
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

chore(pii-scanner): add detailed logging to diagnose scan issues
  crates/spectral-discovery/src/patterns.rs
  crates/spectral-discovery/src/scanner.rs
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): handle UTF-8 character boundaries in truncate function
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

perf(pii-scanner): update findings locally instead of reloading after each action
  src/routes/discovery/+page.svelte
Due: none

feat(ui): improve finding card labels and warning visibility
  src/lib/components/discovery/FindingCard.svelte
Due: none

fix(pii-scanner): fix pause button to actually pause scanning
  crates/spectral-discovery/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(pii-scanner): consolidate scan status UI and show file collection progress
  crates/spectral-discovery/src/scanner.rs
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(pii-scanner): scan files as discovered instead of collecting first
  crates/spectral-discovery/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(pii-scanner): display full file path instead of parent directory name
  crates/spectral-discovery/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): allow re-marking findings that are still present after remediation
  src/routes/discovery/+page.svelte
Due: none

perf(pii-scanner): make Show Ignored toggle instant without reload
  src/routes/discovery/+page.svelte
Due: none

fix(pii-scanner): exclude package directories and test data to reduce false positives
  crates/spectral-discovery/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): require both street AND zip within 5 lines for address match
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(pii-scanner): add city and state to address proximity matching
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): add word boundaries to all PII patterns to prevent false positives
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): comprehensive pattern matching improvements for false positive/negative reduction
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$
