Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

feat(broker): add result selectors for 4 people-search brokers
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/fastpeoplesearch.toml
  broker-definitions/people-search/truepeoplesearch.toml
  broker-definitions/people-search/whitepages.toml
Due: validate-broker-definitions

feat(db): implement broker_scans table operations
  crates/spectral-db/src/broker_scans.rs
  crates/spectral-db/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add findings table operations
  crates/spectral-db/src/findings.rs
  crates/spectral-db/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): complete Phase 2 browser integration
  crates/spectral-browser/src/engine.rs
  crates/spectral-scanner/Cargo.toml
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/lib.rs
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(ci): correct rust-toolchain action name
  .github/workflows/ci.yml
Due: none

fix(scanner): merge Phase 1 and Phase 2 implementations
  crates/spectral-db/src/lib.rs
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/filter.rs
  crates/spectral-scanner/src/lib.rs
  crates/spectral-scanner/src/orchestrator.rs
  crates/spectral-scanner/src/parser.rs
  crates/spectral-scanner/src/url_builder.rs
  crates/spectral-scanner/tests/integration_test.rs
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Phase 2 - Browser Integration (Task 1.7) (#4)
  .github/workflows/ci.yml
  Cargo.toml
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/fastpeoplesearch.toml
  broker-definitions/people-search/truepeoplesearch.toml
  broker-definitions/people-search/whitepages.toml
  crates/spectral-browser/src/engine.rs
  crates/spectral-db/src/broker_scans.rs
  crates/spectral-db/src/findings.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-scanner/Cargo.toml
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/filter.rs
  crates/spectral-scanner/src/lib.rs
  crates/spectral-scanner/src/orchestrator.rs
  crates/spectral-scanner/src/parser.rs
  crates/spectral-scanner/src/url_builder.rs
  crates/spectral-scanner/tests/integration_test.rs
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

fix(ci): remove conflicting libappindicator3-dev package
  .github/workflows/ci.yml
Due: none

docs: add Phase 3 Scan UI design document
  docs/plans/2026-02-13-scan-ui-design.md
Due: none

feat(scan): add scan store for state management
  src/lib/stores/index.ts
  src/lib/stores/scan.svelte.ts
Due: none

fix(scan): align scan store with spec requirements
  src/lib/stores/scan.svelte.ts
Due: none

fix(scan): improve error handling and fix race conditions
  src/lib/stores/scan.svelte.ts
Due: none

feat(scan): add scan start page
  src/routes/scan/start/+page.svelte
Due: none

fix(scan): align scan start page with spec requirements
  src/routes/scan/start/+page.svelte
Due: none

fix(scan): add error handling and profile validation
  src/routes/scan/start/+page.svelte
Due: none

feat(scan): add progress page with real-time polling
  docs/plans/2026-02-13-scan-ui-implementation.md
  src/lib/api/scan.ts
  src/routes/scan/progress/[id]/+page.svelte
Due: none

fix(scan): add cleanup and error handling to progress page
  src/routes/scan/progress/[id]/+page.svelte
Due: none

feat(scan): add review page with grouped findings
  src/routes/scan/review/[id]/+page.svelte
Due: none

fix(scan): improve performance and error handling in review page
  src/routes/scan/review/[id]/+page.svelte
Due: none

feat(removals): add placeholder removals page
  src/routes/removals/+page.svelte
Due: none

feat(dashboard): add scan trigger button
  src/routes/+page.svelte
Due: none

feat(components): add reusable scan components
  src/lib/components/scan/BrokerStatusBadge.svelte
  src/lib/components/scan/ScanProgressBar.svelte
  src/lib/components/scan/index.ts
Due: none

fix: disable prerendering for dynamic scan routes
  src/routes/scan/progress/[id]/+page.ts
  src/routes/scan/review/[id]/+page.ts
Due: none

fix(ci): exclude Tauri app from Rust check job
  .github/workflows/ci.yml
Due: none

Phase 3: Scan UI Components Implementation (#5)
  .github/workflows/ci.yml
  docs/plans/2026-02-13-scan-ui-design.md
  docs/plans/2026-02-13-scan-ui-implementation.md
  src/lib/api/scan.ts
  src/lib/components/scan/BrokerStatusBadge.svelte
  src/lib/components/scan/ScanProgressBar.svelte
  src/lib/components/scan/index.ts
  src/lib/stores/index.ts
  src/lib/stores/scan.svelte.ts
  src/routes/+page.svelte
  src/routes/removals/+page.svelte
  src/routes/scan/progress/[id]/+page.svelte
  src/routes/scan/progress/[id]/+page.ts
  src/routes/scan/review/[id]/+page.svelte
  src/routes/scan/review/[id]/+page.ts
  src/routes/scan/start/+page.svelte
Due: none

feat(brokers): add 5 new broker definitions and loader example
  broker-definitions/people-search/intelius.toml
  broker-definitions/people-search/mylife.toml
  broker-definitions/people-search/peekyou.toml
  broker-definitions/people-search/peoplefinders.toml
  broker-definitions/people-search/radaris.toml
  crates/spectral-broker/examples/load-brokers.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

feat: add 14 new broker definitions across 4 categories
  broker-definitions/background-check/checkr.toml
  broker-definitions/background-check/publicrecordsnow.toml
  broker-definitions/background-check/truthfinder.toml
  broker-definitions/data-aggregator/acxiom.toml
  broker-definitions/data-aggregator/epsilon.toml
  broker-definitions/people-search/addresses.toml
  broker-definitions/people-search/instantcheckmate.toml
  broker-definitions/people-search/neighborwho.toml
  broker-definitions/people-search/nuwber.toml
  broker-definitions/people-search/pipl.toml
  broker-definitions/people-search/ussearch.toml
  broker-definitions/people-search/zabasearch.toml
  broker-definitions/phone-lookup/callersmart.toml
  broker-definitions/phone-lookup/truecaller.toml
  crates/spectral-broker/examples/diagnose-toml.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

fix: add missing vaultId parameter to scan start flow
  eslint.config.js
  src/lib/api/scan.ts
  src/lib/stores/scan.svelte.ts
  src/routes/scan/start/+page.svelte
Due: none

fix: profile loading race condition after vault unlock
  src/lib/components/profile/ProfileWizard.svelte
  src/routes/+page.svelte
Due: none

feat: improve browser engine error messaging for missing Chrome
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: document Chromium dependency issue and improve UX
  CONTRIBUTING.md
  docs/issues/chromium-dependency-management.md
  src/routes/scan/start/+page.svelte
Due: none

fix: improve Chromium compatibility for snap packages
  crates/spectral-browser/src/engine.rs
  docs/issues/chromium-dependency-management.md
Due: cargo-fmt, cargo-clippy, cargo-test

docs: update browser detection strategy for mainstream accessibility
  docs/issues/browser-detection-implementation.md
  docs/issues/chromium-dependency-management.md
Due: none

fix: run migrations when unlocking existing vaults
  crates/spectral-vault/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add missing vaultId parameter to scan status polling
  src/lib/api/scan.ts
  src/lib/stores/scan.svelte.ts
  src/routes/scan/progress/[id]/+page.svelte
Due: none

feat: add stub implementations for findings commands (Phase 4)
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/scan.ts
  src/lib/stores/scan.svelte.ts
  src/routes/scan/review/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add Phase 4 findings storage and verification design
  docs/plans/2026-02-13-phase4-findings-design.md
Due: none

feat(scanner): integrate ResultParser for real findings extraction
  crates/spectral-db/src/findings.rs
  crates/spectral-scanner/src/orchestrator.rs
  crates/spectral-scanner/tests/orchestrator_findings_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add removal_attempts module with CRUD operations
  crates/spectral-db/migrations/004_update_removal_attempts_for_findings.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-db/src/removal_attempts.rs
  docs/plans/2026-02-13-phase4-findings-implementation.md
  src-tauri/src/commands/removal.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(integration): add full findings workflow integration test
  src-tauri/tests/findings_workflow_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test
