Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

fix(ui): fix white-on-white 'Start Tier 1 Scan' button
  src/routes/+page.svelte
Due: none

fix(scan): use loaded broker registry instead of creating empty one
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(dev): prevent frontend/backend port mismatch in dev mode
  src-tauri/tauri.conf.json
  vite.config.ts
Due: none

fix(dev): implement automatic port synchronization between Vite and Tauri
  README.md
  scripts/dev.sh
  vite.config.ts
Due: none

feat: add cross-platform dev script with automatic port synchronization
  .gitattributes
  README.md
  eslint.config.js
  package.json
  scripts/dev.js
  scripts/dev.ps1
Due: none

fix: rename dev.js to dev.cjs for CommonJS compatibility
  .gitattributes
  README.md
  eslint.config.js
  package.json
  scripts/dev.cjs
Due: none

fix(windows): replace Unicode characters in PowerShell script with ASCII
  scripts/dev.ps1
Due: none

feat(scanner): implement profile-based search URL building
  crates/spectral-scanner/Cargo.toml
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(llm): implement real API calls in all LLM providers
  crates/spectral-llm/src/providers/anthropic.rs
  crates/spectral-llm/src/providers/gemini.rs
  crates/spectral-llm/src/providers/lmstudio.rs
  crates/spectral-llm/src/providers/ollama.rs
  crates/spectral-llm/src/providers/openai.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(privacy): replace hardcoded API keys with database retrieval
  crates/spectral-privacy/src/llm_router.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scheduler): implement ScanAll job dispatch
  src-tauri/src/commands/scheduler.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(vault): implement vault password change functionality
  src-tauri/Cargo.toml
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(privacy): implement real LLM provider connection testing
  src-tauri/Cargo.toml
  src-tauri/src/commands/privacy.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(scan): implement email removal retry functionality
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(llm): track actual provider and PII filtering in metadata
  crates/spectral-llm/src/provider.rs
  crates/spectral-llm/src/providers/anthropic.rs
  crates/spectral-llm/src/providers/common.rs
  crates/spectral-llm/src/providers/gemini.rs
  crates/spectral-llm/src/providers/lmstudio.rs
  crates/spectral-llm/src/providers/ollama.rs
  crates/spectral-llm/src/providers/openai.rs
  crates/spectral-llm/src/router.rs
  crates/spectral-privacy/src/llm_router.rs
  src-tauri/src/commands/llm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(scanner): update comment to reflect ResultParser usage
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): add support for all PII field types in URL template substitution
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scheduler): cache browser engine in AppState to avoid recreating Chromium
  src-tauri/src/commands/scheduler.rs
  src-tauri/src/removal_worker.rs
  src-tauri/src/state.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: reduce cognitive complexity in orchestrator and scan commands
  crates/spectral-scanner/src/orchestrator.rs
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve clippy warnings in scan progress implementation
  crates/spectral-scanner/src/orchestrator.rs
  src-tauri/src/commands/scan.rs
  src-tauri/tests/scan_commands_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve clippy warnings in scan progress implementation (#8)
  crates/spectral-scanner/src/orchestrator.rs
  src-tauri/src/commands/scan.rs
  src-tauri/tests/scan_commands_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add filter chips and filtering logic
  src/routes/discovery/+page.svelte
Due: none

fix: change discovery scan button from white to indigo
  src/routes/discovery/+page.svelte
Due: none

feat(db): add pii_type column to discovery_findings table
  crates/spectral-db/migrations/012_discovery_pii_type.sql
Due: none

feat(discovery): add pii_type to response struct and mapping
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add pii_type field to discovery findings structs
  crates/spectral-db/src/discovery_findings.rs
  crates/spectral-discovery/src/filesystem.rs
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add pii_type to DiscoveryFinding interface
  src/lib/api/discovery.ts
Due: none

feat(db): add pii_type column to discovery_findings table
  crates/spectral-db/migrations/012_discovery_pii_type.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: display current broker name in scan progress
  crates/spectral-db/migrations/011_scan_progress_broker_name.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-scanner/src/orchestrator.rs
  src-tauri/src/commands/scan.rs
  src/lib/api/scan.ts
  src/routes/scan/progress/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add discovery filtering design and implementation plan
  docs/plans/2026-02-22-discovery-filtering-design.md
  docs/plans/2026-02-22-discovery-filtering-plan.md
Due: none

feat(discovery): add directory-level progress tracking to discovery scan
  src-tauri/src/commands/discovery.rs
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add broker name display, discovery filtering, and progress tracking (#9)
  crates/spectral-db/migrations/011_scan_progress_broker_name.sql
  crates/spectral-db/migrations/012_discovery_pii_type.sql
  crates/spectral-db/src/discovery_findings.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-discovery/src/filesystem.rs
  crates/spectral-scanner/src/orchestrator.rs
  docs/plans/2026-02-22-discovery-filtering-design.md
  docs/plans/2026-02-22-discovery-filtering-plan.md
  src-tauri/src/commands/discovery.rs
  src-tauri/src/commands/scan.rs
  src/lib/api/discovery.ts
  src/lib/api/scan.ts
  src/routes/discovery/+page.svelte
  src/routes/scan/progress/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add possible matches feature for zero-result brokers
  crates/spectral-db/Cargo.toml
  crates/spectral-db/src/broker_scans.rs
  crates/spectral-db/src/findings.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/matching.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src-tauri/src/matching_service.rs
  src/lib/api/scan.ts
  src/routes/scan/review/[id]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

refactor: eliminate code duplication to achieve 0% duplication
  crates/spectral-db/src/matching.rs
  src-tauri/src/matching_service.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: reduce duplication in scan commands with helper function
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: extract vault access helpers to eliminate duplication
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: replace remaining vault.database() calls with helper
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve SonarQube code quality issues
  scripts/split-architecture.py
  scripts/validate-broker-toml.py
  sonar-project.properties
Due: none

security: enforce HTTPS-only URLs in broker validation
  scripts/validate-broker-toml.py
Due: none

chore: suppress false positive HTTP security hotspot
  scripts/validate-broker-toml.py
Due: none
