Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test --all --no-fail-fast
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-deny:
  name: cargo deny
  description: Check dependencies for vulnerabilities and license issues
  entry: cargo deny check bans licenses sources
  language: system
  pass_filenames: false

validate-broker-definitions:
  name: validate broker definitions
  description: Validate broker definition TOML files
  entry: python scripts/validate-broker-toml.py
  language: system
  pass_filenames: true

fix(browser): implement proper page management for action persistence
  crates/spectral-browser/src/engine.rs
  crates/spectral-browser/src/lib.rs
  docs/plans/2026-02-11-browser-automation-engine.md
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add Form-Based Removal design document
  docs/plans/2026-02-11-form-removal-design.md
Due: none

docs: add Form-Based Removal implementation plan
  docs/plans/2026-02-11-form-removal-implementation.md
Due: none

feat(removal): add RemovalOutcome types
  crates/spectral-broker/src/lib.rs
  crates/spectral-broker/src/removal/mod.rs
  crates/spectral-broker/src/removal/result.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add removal_attempts table and operations
  crates/spectral-db/Cargo.toml
  crates/spectral-db/migrations/002_removal_attempts.sql
  crates/spectral-db/src/error.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-db/src/removal_attempts.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(broker): extend TOML schema with form selectors
  broker-definitions/people-search/spokeo.toml
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/loader.rs
  crates/spectral-broker/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

feat(removal): add CAPTCHA detection and solver interface
  crates/spectral-broker/Cargo.toml
  crates/spectral-broker/src/removal/captcha.rs
  crates/spectral-broker/src/removal/mod.rs
  deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(removal): implement WebFormSubmitter
  crates/spectral-broker/Cargo.toml
  crates/spectral-broker/src/error.rs
  crates/spectral-broker/src/removal/mod.rs
  crates/spectral-broker/src/removal/web_form.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(tauri): add submit_removal command
  src-tauri/Cargo.toml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/removal.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(removal): complete form-based removal implementation
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/fastpeoplesearch.toml
  broker-definitions/people-search/truepeoplesearch.toml
  broker-definitions/people-search/whitepages.toml
Due: validate-broker-definitions

refactor: reduce cognitive complexity in validation functions
  crates/spectral-broker/src/definition.rs
  crates/spectral-browser/Cargo.toml
  crates/spectral-browser/README.md
  crates/spectral-browser/src/actions.rs
  crates/spectral-browser/src/engine.rs
  crates/spectral-browser/src/error.rs
  crates/spectral-browser/src/fingerprint.rs
  crates/spectral-browser/src/lib.rs
  crates/spectral-browser/tests/integration_test.rs
  scripts/validate-broker-toml.py
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

refactor: further reduce cognitive complexity in removal validation
  scripts/validate-broker-toml.py
Due: none

fix: correct privacy message and profile API parameter names
  src/lib/api/profile.ts
  src/lib/components/profile/BasicInfoStep.svelte
Due: none

fix: add Enter key support to date picker for better UX
  src/lib/components/profile/shared/FormField.svelte
Due: none

fix: clarify privacy message about data transmission to brokers
  src/lib/components/profile/BasicInfoStep.svelte
Due: none

docs: add Manual Scan Trigger design document (Task 1.7)
  docs/plans/2026-02-12-manual-scan-trigger-design.md
Due: none

feat(scanner): create spectral-scanner crate with error types
  crates/spectral-scanner/Cargo.toml
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(scanner): use workspace thiserror dependency
  crates/spectral-scanner/Cargo.toml
Due: cargo-deny

feat(db): add scan_jobs, broker_scans, and findings tables
  crates/spectral-db/migrations/003_scan_jobs.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(db): add index on broker_scans.broker_id for query performance
  crates/spectral-db/migrations/003_scan_jobs.sql
Due: none

feat(db): add scan_jobs database module with create function
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/scan_jobs.rs
  docs/plans/2026-02-12-manual-scan-trigger-implementation.md
Due: cargo-fmt, cargo-clippy, cargo-test

feat(broker): add ResultSelectors for parsing search results
  broker-definitions/people-search/spokeo.toml
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

feat(scanner): add URL builder for search templates
  crates/spectral-scanner/src/lib.rs
  crates/spectral-scanner/src/url_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scanner): improve error handling and add URL encoding in URL builder
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/url_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): add HTML result parser with CSS selectors
  crates/spectral-scanner/src/lib.rs
  crates/spectral-scanner/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): add scan command stubs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(frontend): add scan API wrapper
  src/lib/api/scan.ts
Due: none

docs: add Phase 1 and Phase 2 implementation plans
  docs/plans/2026-02-13-browser-integration-implementation.md
  docs/plans/2026-02-13-scan-orchestrator-implementation.md
Due: none

feat(scanner): add broker filtering and profile validation
  crates/spectral-scanner/src/filter.rs
  crates/spectral-scanner/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scanner): improve category matching and add edge case tests
  crates/spectral-scanner/src/filter.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): add ScanOrchestrator struct skeleton
  crates/spectral-scanner/src/lib.rs
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scanner): remove underscore prefixes from ScanOrchestrator fields
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): implement start_scan with job creation
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scanner): use same database instance in start_scan test
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): implement scan_single_broker method
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scanner): implement parallel scan execution with concurrency control
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tauri): wire up orchestrator to scan commands
  crates/spectral-db/src/connection.rs
  crates/spectral-db/src/lib.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

test(scanner): add integration test for full scan flow
  crates/spectral-scanner/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): correct rust-toolchain action name
  .github/workflows/ci.yml
Due: none

fix(scanner): use workspace thiserror version
  Cargo.toml
Due: cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$
