Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

perf(discovery): optimize scanning to prevent system slowdown
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): use batch progress updates to show ALL files efficiently
  src-tauri/src/commands/discovery.rs
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add ignored findings visibility and remove cookie scanner from settings
  crates/spectral-db/src/discovery_findings.rs
  src-tauri/src/commands/discovery.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(discovery): canonicalize file paths before opening location
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(wsl): convert Linux paths to Windows paths when opening file locations in WSL
  src-tauri/src/commands/cookies.rs
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add critical cross-platform requirements to project documentation
  claude.md
  patterns.md
Due: none

feat(cookies): add cookie database filename to scan results
  crates/spectral-cookies/src/scanner.rs
  crates/spectral-db/migrations/020_add_cookie_db_filename.sql
  crates/spectral-db/src/cookies.rs
  src-tauri/src/commands/cookies.rs
  src/lib/api/cookies.ts
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ui): create reusable Spinner component and standardize spinners
  src/lib/components/Spinner.svelte
  src/lib/components/UnlockScreen.svelte
  src/routes/+page.svelte
  src/routes/cookies/+page.svelte
  src/routes/scan-history/+page.svelte
  src/routes/score/+page.svelte
Due: none

fix(cookies): clarify folder button opens profile folder, not individual cookie files
  src/routes/cookies/+page.svelte
Due: none

feat(cookies): add domain-level and per-cookie deletion for unmatched cookies
  crates/spectral-db/src/cookies.rs
  src-tauri/src/commands/cookies.rs
  src-tauri/src/lib.rs
  src/lib/api/cookies.ts
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(cookies): change button text from 'Show Details' to 'Show Unmatched Cookies'
  src/routes/cookies/+page.svelte
Due: none

fix(cookies): make 'Run New Scan' button trigger scan instead of navigating
  src/routes/cookies/+page.svelte
Due: none

fix(cookies): immediately remove domain from UI when deleting cookies
  src/routes/cookies/+page.svelte
Due: none

fix(cookies): immediately remove broker from UI when deleting cookies
  src/routes/cookies/+page.svelte
Due: none

refactor(cookies): move 'Run New Scan' button to the left of delete buttons
  src/routes/cookies/+page.svelte
Due: none

feat(cookies): add real-time progress updates during cookie scanning
  crates/spectral-cookies/src/scanner.rs
  src-tauri/src/commands/cookies.rs
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add download button for complete scanned file list
  src/routes/discovery/+page.svelte
Due: none

feat(cookies): show cookie count per browser during scan
  src-tauri/src/commands/cookies.rs
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(cookies): prevent removed cookies from reappearing in scan results
  crates/spectral-db/src/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ui): make Spinner component properly reactive with Svelte 5 runes
  src/lib/components/Spinner.svelte
Due: none

perf(discovery): remove real-time file streaming to improve scan performance
  src/routes/discovery/+page.svelte
Due: none

feat(discovery): search for user's specific PII instead of generic patterns
  crates/spectral-discovery/src/filesystem.rs
  crates/spectral-discovery/src/lib.rs
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ui): use explicit spinner classes to fix animation issues
  src/lib/components/Spinner.svelte
Due: none

fix(discovery): use standardized Spinner component
  src/routes/discovery/+page.svelte
Due: none

fix(discovery): prevent event listener leak and O(n²) array growth in PII scanner
  src/routes/discovery/+page.svelte
Due: none

fix(ui): restore cookie scanner spinner style with gray track
  src/lib/components/Spinner.svelte
Due: none

fix(ui): use purple spinner on vault unlock screen
  src/lib/components/UnlockScreen.svelte
Due: none

feat(ui): add profile editing functionality to Settings page
  src/lib/components/profile/ProfileWizard.svelte
  src/routes/settings/+page.svelte
Due: none

fix(ui): initialize step components with existing profile data in edit mode
  src/lib/components/profile/AdditionalInfoStep.svelte
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ContactInfoStep.svelte
Due: none

feat(ui): add Edit Profile button to People page for each vault
  src/routes/people/+page.svelte
Due: none

feat(ui): add expandable vault cards showing profile content
  src/lib/api/profile.ts
  src/routes/people/+page.svelte
Due: none

fix(ui): fix profile data initialization in edit mode and add cancel button
  src/lib/components/profile/AdditionalInfoStep.svelte
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ContactInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
Due: none

fix(ui): initialize formData immediately in edit mode
  src/lib/components/profile/AdditionalInfoStep.svelte
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ContactInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
Due: none

fix(broker): add missing category variants and exclude schema.toml
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(broker-defs): fix invalid enum values in broker definitions
  broker-definitions/automotive/autocheck.toml
  broker-definitions/automotive/carfax.toml
  broker-definitions/employment/the-work-number.toml
  broker-definitions/financial/chexsystems.toml
  broker-definitions/financial/clarity-services.toml
  broker-definitions/people-search/instantpeoplefinder.toml
  broker-definitions/people-search/peoplesmart.toml
  broker-definitions/people-search/privaterecords.toml
  broker-definitions/people-search/searchbug.toml
  broker-definitions/social-media/linkedin.toml
  broker-definitions/social-media/pinterest.toml
  broker-definitions/social-media/reddit.toml
  broker-definitions/social-media/snapchat.toml
  broker-definitions/social-media/tiktok.toml
  broker-definitions/social-media/twitter.toml
Due: validate-broker-definitions

fix(profile): add Phase 2 fields to ProfileOutput and profile commands
  src-tauri/src/commands/profile.rs
  src-tauri/src/types/profile.rs
  src/lib/components/profile/ProfileWizard.svelte
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(profile): migrate old email/phone fields to Phase 2 format on load
  src-tauri/src/commands/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(people): parse date of birth without timezone conversion
  src-tauri/src/commands/profile.rs
  src/routes/people/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

chore: add debug logging to trace previous_addresses data flow
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
Due: none

fix(profile): resolve save feedback issues and add clickable stepper
  src/lib/api/profile.ts
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
Due: none
