Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

chore(db): add migration for removal_followups table
  crates/spectral-db/migrations/023_removal_followups.sql
Due: none

chore(db): seed FollowUpReminders scheduled job (daily)
  crates/spectral-db/migrations/024_seed_followup_job.sql
Due: none

feat(followups): add FollowUpReminders job type, DB module, and scheduler handler
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/removal_followups.rs
  crates/spectral-scheduler/src/jobs.rs
  src-tauri/src/commands/scheduler.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(commands): add get_pending_followups and dismiss_followup Tauri commands
  src-tauri/src/commands/removal.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(worker): schedule 15-day follow-up after removal email is sent
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(commands): schedule 15-day follow-up after manual removal email send
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(api): add getPendingFollowups and dismissFollowup TypeScript wrappers
  src/lib/api/followups.ts
Due: none

feat(ui): add FollowUpNotifications component with overdue badge and dismiss
  src/lib/components/removals/FollowUpNotifications.svelte
Due: none

test(db): update migration tests to reflect migrations 023-024
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  src/routes/removals/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(mail): append 15-day follow-up notice to all removal emails
  broker-definitions/marketing/klaviyo.toml
  crates/spectral-mail/src/templates.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

feat(brokers): wire Scan This Broker button to targeted inline scan
  src/routes/brokers/[brokerId]/+page.svelte
Due: none

feat(vault): redirect to profile setup after creating a new vault
  src/lib/components/UnlockScreen.svelte
Due: none

fix(profile): surface real backend errors, fix no-profile noise, validate ZIP at step
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
  src/lib/stores/profile.svelte.ts
Due: none

feat(browser,ui): fix Chrome exit-21 concurrency + add bulk Email All
  crates/spectral-browser/src/engine.rs
  src-tauri/src/commands/brokers.rs
  src/lib/api/brokers.ts
  src/routes/adtech/+page.svelte
  src/routes/brokers/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scan,browser): fix scan center navigation + Chrome exit-21 on Windows
  crates/spectral-browser/src/engine.rs
  src/routes/scan/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(browser): prevent scan hang at N-1/N brokers
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scanner): substitute short-form {first}/{last}/{zip} placeholders in broker URL templates
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scanner): correct 83/84 progress bug and add debug logging for scan diagnostics
  crates/spectral-scanner/src/orchestrator.rs
  crates/spectral-scanner/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(logging): write logs to rolling daily file alongside stdout
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(browser): set spoofed User-Agent to avoid 403 bot detection on headless scans
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add marketing page design spec
  .gitignore
  docs/superpowers/specs/2026-04-21-marketing-page-design.md
Due: none

docs(site): add marketing page implementation plan
  docs/superpowers/plans/2026-04-21-marketing-page.md
Due: none

feat(site): scaffold Astro marketing site
  .gitignore
  site/.gitignore
  site/.vscode/extensions.json
  site/.vscode/launch.json
  site/README.md
  site/astro.config.mjs
  site/package-lock.json
  site/package.json
  site/public/favicon.ico
  site/public/favicon.svg
  site/src/pages/index.astro
  site/tsconfig.json
Due: none

feat(site): add layout and global styles
  .eslintignore
  .prettierignore
  eslint.config.js
  site/astro.config.mjs
  site/package-lock.json
  site/package.json
  site/src/layouts/Layout.astro
  site/src/styles/global.css
Due: none

feat(site): add Logo component and favicon
  site/public/favicon.svg
  site/src/components/Logo.astro
  site/src/pages/index.astro
Due: none

feat(site): add Nav component
  site/src/components/Nav.astro
  site/src/pages/index.astro
Due: none

feat(site): add Hero section with disappear animation
  site/src/components/Hero.astro
  site/src/pages/index.astro
Due: none

feat(site): add FeatureCard with ghost hover reveal
  site/src/components/FeatureCard.astro
  site/src/pages/index.astro
Due: none

feat(site): add Features section
  site/src/components/Features.astro
  site/src/pages/index.astro
Due: none

feat(site): add HowItWorks section
  site/src/components/HowItWorks.astro
  site/src/pages/index.astro
Due: none

feat(site): add Privacy, OpenSource, CtaBanner, Footer, and assemble full page
  site/src/components/CtaBanner.astro
  site/src/components/Footer.astro
  site/src/components/OpenSource.astro
  site/src/components/Privacy.astro
  site/src/pages/index.astro
Due: none

feat(site): add Vercel deployment config
  site/vercel.json
Due: none

fix(site): ghost exits immediately on mouse-leave, content delays slightly before reappearing
  site/src/components/FeatureCard.astro
Due: none

feat(site): add root vercel.json for monorepo deployment
  vercel.json
Due: none

fix(site): update GitHub links to spectral-privacy and remove download CTAs
  site/src/components/CtaBanner.astro
  site/src/components/Footer.astro
  site/src/components/Hero.astro
  site/src/components/Nav.astro
  site/src/layouts/Layout.astro
Due: none

fix(scan): reuse shared browser engine instead of spawning a new Chrome instance per scan
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(site): Josefin Sans logo font, zoomed favicon, glass nav effect
  docs/superpowers/plans/2026-03-25-removal-flow-overhaul.md
  docs/superpowers/plans/2026-03-29-email-automation.md
  docs/superpowers/plans/2026-03-29-removal-followup-reminders.md
  site/public/favicon.svg
  site/src/components/Logo.astro
  site/src/components/Nav.astro
  site/src/layouts/Layout.astro
Due: none

feat(site): add Vercel Analytics
  site/package-lock.json
  site/package.json
  site/src/layouts/Layout.astro
Due: none

fix(vault): sync unlocked state after create and on loadVaults
  src/lib/stores/vault.svelte.ts
Due: none

fix(browser): fix WSL2 Chrome network timeouts; replace date pickers with dropdowns
  crates/spectral-browser/src/engine.rs
  src/lib/components/profile/BasicInfoStep.svelte
  src/lib/components/profile/shared/PreviousAddressModal.svelte
Due: cargo-fmt, cargo-clippy, cargo-test
