Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

refactor(pii-scanner): remove package directory exclusions
  crates/spectral-discovery/src/patterns.rs
  crates/spectral-discovery/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(pii-scanner): fix code quality issues found in static analysis
  crates/spectral-discovery/src/lib.rs
  crates/spectral-discovery/src/patterns.rs
  crates/spectral-discovery/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: fix all SonarQube CRITICAL cognitive complexity findings
  crates/spectral-broker/src/loader.rs
  crates/spectral-discovery/src/patterns.rs
  crates/spectral-discovery/src/scanner.rs
  src-tauri/src/commands/discovery.rs
  src-tauri/src/commands/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: fix remaining 3 SonarQube CRITICAL complexity findings
  crates/spectral-discovery/src/patterns.rs
  src-tauri/src/commands/discovery.rs
  src-tauri/src/commands/profile.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(pii-scanner): fix final SonarQube complexity finding
  crates/spectral-discovery/src/patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(pii-scanner): add Clear Results button to reset scan state
  crates/spectral-db/src/discovery_findings.rs
  src-tauri/src/commands/discovery.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): fix Download Log button by opening OS temp file instead of blob URL
  crates/spectral-discovery/src/patterns.rs
  crates/spectral-discovery/src/scanner.rs
  src-tauri/src/commands/discovery.rs
  src-tauri/src/commands/profile.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(pii-scanner): show Clear Results button whenever findings exist, not just after a scan
  src/routes/discovery/+page.svelte
Due: none

feat(pii-scanner): split Download Log into findings log and full scan log
  crates/spectral-discovery/src/scanner.rs
  src-tauri/src/commands/discovery.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(profile): add SSN field to profile for targeted PII scanning
  src-tauri/src/commands/profile.rs
  src-tauri/src/types/profile.rs
  src/lib/api/profile.ts
  src/lib/components/profile/BasicInfoStep.svelte
  src/lib/components/profile/shared/FormField.svelte
  src/routes/people/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(people): Edit Profile button now opens the profile wizard in edit mode
  src/routes/people/+page.svelte
  src/routes/profile/edit/+page.svelte
  src/routes/profile/edit/+page.ts
Due: none

fix(profile): fix Edit Profile redirect loop by moving guard to onMount
  src/routes/profile/edit/+page.svelte
  src/routes/profile/edit/+page.ts
Due: none

fix(profile-edit): resolve infinite redirect loop by passing vault ID in URL
  src/lib/components/profile/ProfileWizard.svelte
  src/routes/people/+page.svelte
  src/routes/profile/edit/+page.svelte
Due: none

chore(setup): suppress semgrep false positive on nvm install
  setup.sh
Due: none

fix(profile-edit): show SSN hint when editing profile with existing SSN
  src/lib/components/profile/BasicInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
Due: none

fix(adtech): add shell:allow-open capability and fix dashboard vault guard
  src-tauri/capabilities/default.json
  src/routes/+page.svelte
Due: none

feat(adtech): add targeted single-broker scan on detail page
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

fix(adtech): surface actual error message from targeted scan failure
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

fix(browser): add Windows Chrome launch flags to fix exit status 21
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(browser): use temp user-data-dir to fix Chrome exit status 21 on Windows
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(adtech): add console logging to targeted scan flow
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

feat(scan): expose per-broker scan results for debug visibility
  crates/spectral-scanner/src/orchestrator.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/scan.ts
  src/routes/adtech/[adtechId]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

chore(browser): suppress harmless chromiumoxide WS noise in logs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(logging): enable chromiumoxide=debug for scan troubleshooting
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(adtech): surface broker scan failures (e.g. CAPTCHA) in the UI
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

feat(browser): open visible Chrome window for interactive CAPTCHA solving
  crates/spectral-browser/src/engine.rs
  crates/spectral-scanner/src/orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scan): skip manual/web-form brokers and add 30s navigation timeout
  crates/spectral-browser/src/engine.rs
  crates/spectral-scanner/src/error.rs
  crates/spectral-scanner/src/orchestrator.rs
  src/routes/adtech/[adtechId]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

chore(db): add migration for nullable finding_id and profile_id on removal_attempts
  crates/spectral-db/migrations/022_standalone_removal_attempts.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): support standalone removal attempts without scan findings
  crates/spectral-db/src/removal_attempts.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/removal_worker.rs
  src-tauri/tests/removal_batch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(broker-api): add search_method_type and removal_action_url to BrokerDetail
  src-tauri/src/commands/brokers.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(commands): add initiate_direct_removal and initiate_bulk_removal Tauri commands
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/brokers.ts
  src/lib/api/removal.ts
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ui): smart RemovalActionButton with scan/email/form/manual routing
  src/lib/components/removals/RemovalActionButton.svelte
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

feat(adtech): add Remove All bulk removal action to adtech list page
  src/routes/adtech/+page.svelte
Due: none

fix(email): substitute profile variables in email removal templates
  src/lib/components/removals/RemovalActionButton.svelte
  src/routes/adtech/[adtechId]/+page.svelte
Due: none

feat(email): persist SMTP/IMAP/CC credentials in vault settings
  crates/spectral-mail/Cargo.toml
  crates/spectral-mail/src/lib.rs
  crates/spectral-mail/src/sender.rs
  crates/spectral-mail/src/settings.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(settings): wire email settings UI with save/load and CC field
  src/lib/api/settings.ts
  src/routes/settings/+page.svelte
Due: none

feat(email): use SMTP for automatic removal email sending when configured
  crates/spectral-mail/src/sender.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(email): IMAP polling loop with LLM-assisted reply handling
  crates/spectral-mail/src/imap.rs
  src-tauri/src/commands/scheduler.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(scheduler): extract job handlers to reduce cognitive complexity
  src-tauri/src/commands/scheduler.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(email): update Klaviyo template wording and fix email_removals column name
  broker-definitions/marketing/klaviyo.toml
  src-tauri/src/commands/scheduler.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions
