Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

refactor(brokers): remove credit bureau definitions
  broker-definitions/data-aggregator/equifax.toml
  broker-definitions/data-aggregator/experian.toml
  broker-definitions/data-aggregator/transunion.toml
Due: validate-broker-definitions

refactor(brokers): remove LexisNexis definition
  broker-definitions/data-aggregator/lexisnexis.toml
Due: validate-broker-definitions

feat(brokers): add email fallback support for 11 brokers
  broker-definitions/background-check/publicrecordsnow.toml
  broker-definitions/background-check/truthfinder.toml
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/fastpeoplesearch.toml
  broker-definitions/people-search/instantcheckmate.toml
  broker-definitions/people-search/intelius.toml
  broker-definitions/people-search/mylife.toml
  broker-definitions/people-search/nuwber.toml
  broker-definitions/people-search/radaris.toml
  broker-definitions/people-search/spokeo.toml
  broker-definitions/people-search/whitepages.toml
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/registry.rs
  src-tauri/src/commands/brokers.rs
  src/lib/api/brokers.ts
  src/routes/adtech/[adtechId]/+page.svelte
  src/routes/brokers/[brokerId]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

refactor: extract shared email template components to eliminate code duplication
  src/lib/components/broker/EmailFallbackDisplay.svelte
  src/lib/components/broker/EmailTemplatePreview.svelte
  src/routes/adtech/[adtechId]/+page.svelte
  src/routes/brokers/[brokerId]/+page.svelte
Due: none

refactor: extract shared broker display utilities to eliminate function duplication
  src/lib/utils/broker-display.ts
  src/routes/adtech/[adtechId]/+page.svelte
  src/routes/brokers/[brokerId]/+page.svelte
Due: none

refactor: reduce cognitive complexity in cookie scanner functions
  crates/spectral-cookies/src/browser.rs
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(cookies): populate broker/browser groupings in recent cookie scans
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(cookies): add comprehensive cookie deletion functionality
  src-tauri/src/commands/cookies.rs
  src-tauri/src/lib.rs
  src/lib/api/cookies.ts
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(browser): add platform-specific Chrome detection and fixes
  crates/spectral-browser/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(cookies): add debug logging for broker table diagnosis
  src/routes/cookies/+page.svelte
Due: none

chore(cookies): add backend logging for cookie reconstruction
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(cookies): synchronize timestamps between scan session and cookies
  crates/spectral-db/src/cookies.rs
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(cookies): add ability to open cookie location in file browser
  src-tauri/src/commands/cookies.rs
  src-tauri/src/lib.rs
  src/lib/api/cookies.ts
  src/routes/cookies/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(cookies): add cursor-pointer to all clickable buttons
  src/routes/cookies/+page.svelte
Due: none

feat(maps): add Maps tab to Settings page for address blurring
  src/routes/settings/+page.svelte
Due: none

refactor(maps): move map blurring from Settings to dedicated page
  src/routes/+page.svelte
  src/routes/maps/+page.svelte
  src/routes/maps/+page.ts
  src/routes/settings/+page.svelte
Due: none

fix(maps): load profiles on page mount
  src/routes/maps/+page.svelte
Due: none

feat(discovery): add file-by-file progress updates during PII scanning
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(cookies): use Windows Explorer when opening cookie location from WSL
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): scan entire user profile with custom directory support
  src-tauri/src/commands/discovery.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): show real-time file scanning and rename to PII Discovery
  src-tauri/src/commands/discovery.rs
  src/lib/components/nav/NavBar.svelte
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(discovery): properly handle async event listeners for real-time scanning
  src/routes/discovery/+page.svelte
Due: none

fix(discovery): resolve duplicate key error in file scanning UI
  src/routes/discovery/+page.svelte
Due: none

refactor: reduce cognitive complexity in SonarQube critical findings
  crates/spectral-browser/src/engine.rs
  src-tauri/src/commands/cookies.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add educational info section about PII scanning
  src/routes/discovery/+page.svelte
Due: none

fix(discovery): prevent duplicate findings for same PII in same file
  crates/spectral-db/migrations/017_discovery_deduplication_index.sql
  crates/spectral-db/src/discovery_findings.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add ignore vs remediation distinction for PII findings
  crates/spectral-db/migrations/018_discovery_ignored_status.sql
  crates/spectral-db/src/discovery_findings.rs
  src-tauri/src/commands/discovery.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): add pause/resume/stop controls for PII scan
  src/routes/discovery/+page.svelte
Due: none

fix(build): resolve Windows compilation warnings
  crates/spectral-browser/src/engine.rs
  src-tauri/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(discovery): implement true backend pause/resume/stop for scans
  src-tauri/src/commands/discovery.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(discovery): properly handle stop button and clarify loading state
  src-tauri/src/commands/discovery.rs
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(discovery): reduce cognitive complexity in scan_recursive
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(discovery): display actual file count instead of hardcoded 100
  src/routes/discovery/+page.svelte
Due: none

feat(discovery): add button to open files directly from findings list
  src/routes/discovery/+page.svelte
Due: none

fix(discovery): ensure file opening works cross-platform
  src/routes/discovery/+page.svelte
Due: none

fix(tauri): add shell plugin permissions to open files
  src-tauri/capabilities/default.json
Due: none

fix(tauri): use custom validator regex for file:// URLs in shell plugin
  src-tauri/capabilities/default.json
Due: none

refactor(discovery): use native file browser instead of shell plugin
  src-tauri/capabilities/default.json
  src-tauri/src/commands/discovery.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(discovery): remove unused variable warning on Windows/macOS
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(discovery): show actual matched PII values and line numbers
  crates/spectral-db/migrations/019_discovery_matched_details.sql
  crates/spectral-db/src/discovery_findings.rs
  crates/spectral-discovery/src/filesystem.rs
  crates/spectral-discovery/src/lib.rs
  src-tauri/src/commands/discovery.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test
