Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test --all --no-fail-fast
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-deny:
  name: cargo deny
  description: Check dependencies for vulnerabilities and license issues
  entry: cargo deny check bans licenses sources
  language: system
  pass_filenames: false

validate-broker-definitions:
  name: validate broker definitions
  description: Validate broker definition TOML files
  entry: python scripts/validate-broker-toml.py
  language: system
  pass_filenames: true

fix(vault): use async fs in delete_vault and add entry-level tracing logs
  src-tauri/src/commands/vault.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(settings): add settings page with vault management UI
  src/lib/api/vault.ts
  src/routes/settings/+page.svelte
  src/routes/settings/+page.ts
Due: none

fix(settings): use safeInvoke in vault API and add tab ARIA roles
  src/lib/api/vault.ts
  src/routes/settings/+page.svelte
Due: none

feat(db): add audit_log migration; add privacy level presets to settings
  crates/spectral-db/migrations/005_audit_log.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(history): add get_job_history DB query and get_removal_job_history Tauri command
  crates/spectral-db/src/removal_attempts.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(frontend): replace removals stub with job history page
  src/lib/api/removal.ts
  src/routes/removals/+page.svelte
Due: none

fix(frontend): add ARIA attributes and fix removalAPI pattern in job history page
  src/lib/api/removal.ts
  src/routes/removals/+page.svelte
Due: none

feat(scan): add privacy score calculation and get_privacy_score command
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scan): fix unresolved count comment, remove unused Deserialize, fix visibility
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(frontend): add privacy score page with SVG gauge
  src/lib/api/score.ts
  src/routes/score/+page.svelte
  src/routes/score/+page.ts
Due: none

fix(frontend): fix privacy score page empty state, remove stale impact math, add table aria-label
  src/routes/score/+page.svelte
Due: none

feat: add dashboard summary command and enhance home page with activity cards
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src/lib/api/dashboard.ts
  src/routes/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add unique IDs to activity events, error handling to dashboard fetch, ARIA labels to cards
  src-tauri/src/commands/scan.rs
  src/lib/api/dashboard.ts
  src/routes/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(broker): add BrowserForm removal method variant; tag JS-heavy brokers
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/instantcheckmate.toml
  broker-definitions/people-search/intelius.toml
  broker-definitions/people-search/mylife.toml
  broker-definitions/people-search/spokeo.toml
  crates/spectral-broker/src/definition.rs
  scripts/validate-broker-toml.py
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

fix(broker): add confirmation field to BrowserForm, extend FormSelectors with full_name_input and error_indicator
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(browser): add removal_evidence table and browser-form removal worker path
  crates/spectral-db/migrations/006_removal_evidence.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src-tauri/src/removal_worker.rs
  src-tauri/src/state.rs
  src-tauri/tests/findings_workflow_test.rs
  src-tauri/tests/removal_batch_test.rs
  src-tauri/tests/scan_commands_test.rs
  src-tauri/tests/vault_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(browser): deterministic evidence query order; log screenshot failures
  src-tauri/src/commands/scan.rs
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(mail): create spectral-mail crate with templates, sender, and email_removals migration
  crates/spectral-db/migrations/007_email_removals.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-mail/Cargo.toml
  crates/spectral-mail/src/imap.rs
  crates/spectral-mail/src/lib.rs
  crates/spectral-mail/src/sender.rs
  crates/spectral-mail/src/templates.rs
  deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(mail): integrate email removal into worker; add send_removal_email command
  src-tauri/Cargo.toml
  src-tauri/src/commands/scan.rs
  src-tauri/src/lib.rs
  src-tauri/src/removal_worker.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(settings): add email SMTP/IMAP configuration section
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/lib.rs
  src/lib/api/settings.ts
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(settings): remove unused permission preset functions
  src/lib/api/settings.ts
Due: none

feat(verification): add pending verification tab and mark_attempt_verified command
  src-tauri/src/commands/removal.rs
  src-tauri/src/lib.rs
  src/lib/api/verification.ts
  src/lib/stores/removal.svelte.ts
  src/routes/removals/progress/[jobId]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(verification): add error handling and broker_id to verified event
  src-tauri/src/commands/removal.rs
  src/routes/removals/progress/[jobId]/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(mail): add IMAP poller with broker sender matching
  crates/spectral-mail/Cargo.toml
  crates/spectral-mail/src/imap.rs
  crates/spectral-mail/src/lib.rs
  src-tauri/src/commands/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(mail): secure ImapConfig debug, fix date calculation, add logging
  crates/spectral-mail/src/imap.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(scheduler): add spectral-scheduler crate, scheduled_jobs migration, and DB methods
  crates/spectral-db/Cargo.toml
  crates/spectral-db/migrations/008_scheduled_jobs.sql
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-scheduler/Cargo.toml
  crates/spectral-scheduler/src/jobs.rs
  crates/spectral-scheduler/src/lib.rs
  crates/spectral-scheduler/src/scheduler.rs
  crates/spectral-scheduler/src/tray.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(scheduler): handle invalid job types gracefully, add DB indexes
  crates/spectral-db/migrations/008_scheduled_jobs.sql
  crates/spectral-db/src/error.rs
  crates/spectral-db/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(tray): add cross-platform tray mode with Linux fallback
  Cargo.toml
  crates/spectral-scheduler/src/tray.rs
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(tray): add autostart plugin, use menu constants
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

refactor: fix Task 19 code quality issues
  crates/spectral-scheduler/src/tray.rs
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(settings): add scheduling section with job toggles and manual run
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/scheduler.rs
  src-tauri/src/lib.rs
  src/lib/api/settings.ts
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(scheduler): use CommandError and add frontend error handling
  src-tauri/src/commands/scheduler.rs
  src/routes/settings/+page.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(brokers): add list_brokers and get_broker_detail commands
  src-tauri/src/commands/brokers.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src-tauri/tests/findings_workflow_test.rs
  src-tauri/tests/removal_batch_test.rs
  src-tauri/tests/scan_commands_test.rs
  src-tauri/tests/vault_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(brokers): add broker explorer list and detail pages
  src/lib/api/brokers.ts
  src/routes/brokers/+page.svelte
  src/routes/brokers/+page.ts
  src/routes/brokers/[brokerId]/+page.svelte
  src/routes/brokers/[brokerId]/+page.ts
Due: none

fix(brokers): improve accessibility and extract shared utilities
  src/lib/utils/broker.ts
  src/routes/brokers/+page.svelte
  src/routes/brokers/[brokerId]/+page.svelte
Due: none

feat(scanning): add scan_priority tiers and region_relevance to broker definitions
  broker-definitions/background-check/truthfinder.toml
  broker-definitions/people-search/beenverified.toml
  broker-definitions/people-search/fastpeoplesearch.toml
  broker-definitions/people-search/instantcheckmate.toml
  broker-definitions/people-search/intelius.toml
  broker-definitions/people-search/peoplefinders.toml
  broker-definitions/people-search/radaris.toml
  broker-definitions/people-search/spokeo.toml
  broker-definitions/people-search/truepeoplesearch.toml
  broker-definitions/people-search/whitepages.toml
  crates/spectral-broker/src/definition.rs
  crates/spectral-broker/src/lib.rs
  crates/spectral-broker/src/registry.rs
  crates/spectral-scanner/src/filter.rs
  crates/spectral-scanner/tests/orchestrator_findings_test.rs
  src-tauri/src/commands/brokers.rs
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

fix(scanning): add Custom variant to ScanTier and explicit scan_priority to all broker definitions
  broker-definitions/background-check/checkr.toml
  broker-definitions/background-check/publicrecordsnow.toml
  broker-definitions/data-aggregator/acxiom.toml
  broker-definitions/data-aggregator/epsilon.toml
  broker-definitions/people-search/addresses.toml
  broker-definitions/people-search/mylife.toml
  broker-definitions/people-search/neighborwho.toml
  broker-definitions/people-search/nuwber.toml
  broker-definitions/people-search/peekyou.toml
  broker-definitions/people-search/pipl.toml
  broker-definitions/people-search/ussearch.toml
  broker-definitions/people-search/zabasearch.toml
  broker-definitions/phone-lookup/callersmart.toml
  broker-definitions/phone-lookup/truecaller.toml
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

fix(scanning): actually use tier-based filtering and add Tier 2 brokers
  broker-definitions/background-check/checkr.toml
  broker-definitions/background-check/publicrecordsnow.toml
  broker-definitions/data-aggregator/acxiom.toml
  broker-definitions/people-search/addresses.toml
  broker-definitions/people-search/mylife.toml
  broker-definitions/people-search/neighborwho.toml
  broker-definitions/people-search/nuwber.toml
  broker-definitions/people-search/peekyou.toml
  broker-definitions/people-search/pipl.toml
  broker-definitions/people-search/ussearch.toml
  broker-definitions/people-search/zabasearch.toml
  broker-definitions/phone-lookup/callersmart.toml
  broker-definitions/phone-lookup/truecaller.toml
  src-tauri/src/commands/scan.rs
Due: cargo-fmt, cargo-clippy, cargo-test, validate-broker-definitions

feat(scanning): add first-run auto-scan prompt with tier selection
  src/lib/api/scan.ts
  src/routes/+page.svelte
Due: none

feat(discovery): add local PII discovery crate and frontend
  crates/spectral-db/migrations/009_discovery_findings.sql
  crates/spectral-db/src/discovery_findings.rs
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/migrations.rs
  crates/spectral-discovery/Cargo.toml
  crates/spectral-discovery/src/filesystem.rs
  crates/spectral-discovery/src/lib.rs
  src-tauri/Cargo.toml
  src-tauri/src/commands/discovery.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/lib/api/discovery.ts
  src/routes/discovery/+page.svelte
  src/routes/discovery/+page.ts
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$
