Repository InfiniteInsight/Spectral-Privacy: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny, validate-broker-definitions

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
  validate-broker-definitions: any of: broker-definitions/.*\.toml$

fix(discovery): address critical security vulnerabilities in filesystem scanner
  crates/spectral-discovery/Cargo.toml
  crates/spectral-discovery/src/filesystem.rs
  src-tauri/src/commands/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

refactor: reduce cognitive complexity and fix TypeScript assertion
  crates/spectral-mail/src/imap.rs
  src-tauri/src/commands/discovery.rs
  src/routes/profile/setup/+page.ts
Due: cargo-fmt, cargo-clippy, cargo-test

feat(ui): improve vault unlock/lock UX and clarify privacy settings
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/settings/+page.svelte
Due: none

fix(ui): disable unlock button when password is empty
  src/lib/components/UnlockScreen.svelte
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/settings/+page.svelte
Due: none

fix(ui): make unlock button visible with inline styles
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/settings/+page.svelte
Due: none

feat(ui): add People navigation and move vault management
  src/lib/components/nav/NavBar.svelte
  src/lib/components/nav/VaultSwitcher.svelte
  src/routes/people/+page.svelte
  src/routes/settings/+page.svelte
Due: none

docs: add privacy level and LLM integration design
  docs/plans/2026-02-19-privacy-llm-design.md
Due: none

feat(privacy): create spectral-privacy crate scaffold
  crates/spectral-privacy/Cargo.toml
  crates/spectral-privacy/src/error.rs
  crates/spectral-privacy/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

docs(privacy): expand crate documentation and add description
  crates/spectral-privacy/Cargo.toml
  crates/spectral-privacy/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(privacy): add privacy level types and feature flags
  crates/spectral-privacy/src/lib.rs
  crates/spectral-privacy/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(privacy): improve type serialization and test coverage
  crates/spectral-privacy/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add settings table migration
  crates/spectral-db/migrations/010_settings.sql
  crates/spectral-db/src/migrations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(db): add settings storage module
  crates/spectral-db/src/lib.rs
  crates/spectral-db/src/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(privacy): implement PrivacyEngine core
  crates/spectral-privacy/src/engine.rs
  crates/spectral-privacy/src/error.rs
  crates/spectral-privacy/src/lib.rs
  crates/spectral-privacy/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(privacy): add LLM provider settings module
  crates/spectral-privacy/src/lib.rs
  crates/spectral-privacy/src/llm_settings.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(llm): implement OpenAI provider
  crates/spectral-llm/src/providers/mod.rs
  crates/spectral-llm/src/providers/openai.rs
  docs/plans/2026-02-19-privacy-llm-implementation.md
Due: cargo-fmt, cargo-clippy, cargo-test

feat(llm): implement Gemini provider
  crates/spectral-llm/src/providers/gemini.rs
  crates/spectral-llm/src/providers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(llm): implement LM Studio provider
  crates/spectral-llm/src/providers/lmstudio.rs
  crates/spectral-llm/src/providers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(privacy): implement privacy-aware LLM router
  crates/spectral-llm/src/lib.rs
  crates/spectral-privacy/Cargo.toml
  crates/spectral-privacy/src/error.rs
  crates/spectral-privacy/src/lib.rs
  crates/spectral-privacy/src/llm_router.rs
  crates/spectral-privacy/src/llm_settings.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(tauri): add privacy settings commands
  src-tauri/Cargo.toml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/privacy.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(frontend): add privacy settings API module
  src/lib/api/privacy.ts
Due: none

feat(frontend): implement privacy level preset selector UI
  src/routes/settings/+page.svelte
Due: none

feat(llm): add email draft integration stub
  crates/spectral-privacy/src/lib.rs
  src-tauri/src/commands/llm.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/lib/llm/emailDrafting.ts
Due: cargo-fmt, cargo-clippy, cargo-test

feat(llm): add form filling integration stub
  src-tauri/src/commands/llm.rs
  src-tauri/src/lib.rs
  src/lib/llm/formFilling.ts
Due: cargo-fmt, cargo-clippy, cargo-test

feat(privacy): integrate PII filtering for cloud providers
  crates/spectral-privacy/src/llm_router.rs
  crates/spectral-privacy/src/llm_settings.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(privacy): add integration tests for privacy engine
  crates/spectral-privacy/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add privacy/LLM testing checklist and configuration guide
  README.md
  docs/testing/privacy-llm-manual-tests.md
Due: none

refactor(llm): extract common utilities to reduce code duplication
  crates/spectral-db/src/lib.rs
  crates/spectral-llm/src/providers/common.rs
  crates/spectral-llm/src/providers/gemini.rs
  crates/spectral-llm/src/providers/lmstudio.rs
  crates/spectral-llm/src/providers/mod.rs
  crates/spectral-llm/src/providers/openai.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(tauri): extract vault pool helper to reduce duplication
  src-tauri/src/commands/llm.rs
  src-tauri/src/commands/privacy.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(llm): extract stub response helpers to reduce duplication
  crates/spectral-llm/src/providers/common.rs
  crates/spectral-llm/src/providers/gemini.rs
  crates/spectral-llm/src/providers/lmstudio.rs
  crates/spectral-llm/src/providers/openai.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(tauri): import Manager trait for release builds
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update README with project status and license
  README.md
Due: none

chore: add CLAUDE.md to gitignore
  .gitignore
Due: none

feat(profile): add structured alternative name fields
  .gitignore
  crates/spectral-vault/src/profile.rs
  src/lib/api/profile.ts
  src/lib/components/profile/AdditionalInfoStep.svelte
  src/lib/components/profile/shared/AliasModal.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(profile): add phone number normalization for matching
  crates/spectral-vault/src/profile.rs
  src/lib/api/profile.ts
  src/lib/components/profile/ContactInfoStep.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(profile): add multiple email addresses with normalization
  crates/spectral-vault/src/lib.rs
  crates/spectral-vault/src/profile.rs
  src-tauri/src/commands/profile.rs
  src-tauri/src/removal_worker.rs
  src/lib/api/profile.ts
  src/lib/components/profile/ContactInfoStep.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

feat(profile): add structured name fields for relatives
  crates/spectral-vault/src/profile.rs
  src/lib/api/profile.ts
  src/lib/components/profile/AdditionalInfoStep.svelte
  src/lib/components/profile/ReviewStep.svelte
  src/lib/components/profile/shared/RelativeModal.svelte
Due: cargo-fmt, cargo-clippy, cargo-test

fix(profile): correct ReviewStep display issues
  src/lib/components/profile/ReviewStep.svelte
Due: none

fix(profile): add proper step-by-step validation with specific error messages
  src/lib/components/profile/AddressInfoStep.svelte
  src/lib/components/profile/ContactInfoStep.svelte
  src/lib/components/profile/ProfileWizard.svelte
Due: none
